body {
	font-family: 'Open Sans', sans-serif;
	color: #201b2d;
	font-size: 15px;
	padding: 0;
	margin: 0;
}

div, p, input, button, form, span, a, ul, li {
	box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
	margin: 0;
	font-family: 'Ubuntu', sans-serif;
	font-weight: 900;
}

p {
	line-height: 1.65em;
}

.container {
	width: 1024px;
	margin: 0 auto;
}

.info {
	padding-top: 50px;
	padding-bottom: 50px;
	padding-left: 50px;
	padding-right: 50px;
}
.question {
	display: flex;
	justify-content: center;
}
.blocks {
	display: flex;
	justify-content: center;
}
.block {
	margin:50px;
	text-align: center;
	width: 300px;
}
.img2, .img3, .img4 {
	padding-bottom: 20px;
}

